/* Please give the h1 some padding on three sides, margin on just one side, and a light purple background with light blue lettering */
h1{
	padding: 22px 22px 0 22px;
	margin: 0 22px 0 0;
	color: lightblue;
	background-color: lavender;
}
/* Please give the h2 significant padding on the top and bottom, a dark green border on the top and bottom, and an orange background */
h2 {
	padding: 40px 0;
	border: 3px solid darkgreen;
	background-color: lightcoral;
}
/* Please give the section a thick blue border, height of 300px, and more the 400px of margin on the top */
section{
	boder:  3px solid blue;
	height: 300px;
	margin-top: 401px;
}
/* Please make the spans have thin yellow borders and equal padding / margin on all sides */
span{
	border: 1px solid yellowgreen;
	padding: 10px;
	margin: 10px;
}